.container{
    width: 100vw;
    /* border: solid 3px black; */
    margin-bottom: 50px;
}
.viewRow{
    height: auto;
    width: 100%;
    border: solid 3px black;
}
.pictureOfRow{
    height: 80px;
    padding: 3px;
    border: solid 1px #222;
    border-radius: 3px;
    margin: 3px;
}
